h1 {
  text-align: center;
}
.title {
  text-align: center;
}
.mainDiv {
  border: 3px solid black;
  display: flex;
  flex-direction: row;
}

.rowDiv1,
.rowDiv2,
.rowDiv3 {
  text-align: center;
  border: 1px solid black;
  width: 40%;
}
ul {
  list-style-type: disc;
  text-align: left;
}
.bottomDiv {
  text-align: center;
  border: 1px solid black;
  width: 40%;
  height: 20vh;
}
.asideDiv1 {
  float: left;
  width: 20%;
  padding-left: 0.5rem;
  border: 1px solid black;
  border-radius: 4px 0 0 4px;
}
.asideDiv2 {
  float: right;
  width: 20%;
  padding-left: 0.5rem;
  border: 1px solid black;
  border-radius: 0 4px 4px 0;
}

/* footer */
.divNavigation {
  position: fixed;
  bottom: 0;
  left: 45%;
  display: flex;
  flex-direction: row;
}
.divHome {
  margin-right: 1rem;
}
.divSignout {
  margin-left: 1rem;
}

.btn-return {
  background: rgb(254, 190, 43);
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}
.btn-return:hover{
  background-color: rgba(226, 193, 5, 0.931);
  color: black;
}
.dark-mode {
  background-color: #0855ff;
  color: white;
}

.btn-darkMode {
  border: none;
  background-color: transparent;
  float: right;
  display: visible;
}

/* Petit ecran */
@media (min-width: 640px) {
  .btn-redirect {
      margin-bottom: 5rem;
  }
}
/* Ecran medium */
@media (min-width: 768px) {
  .btn-redirect {
      margin-bottom: 5rem;
  }
}

/* Ecran large */
@media (min-width: 1024px) {
  .redText {    
      display: block;
    }
}

/* Ecran extra large */
@media (min-width: 1280px) {
  .redText {
      display: block;
    }
}

/* Ecran extra extra large */
@media (min-width: 1538px) {
  .redText {
      display: block;
    }
}